{% extends "joinme_app/base_no_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off" >
    {% csrf_token %}

    <div class="row">
        <div class="col">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    {{ form.pswd|as_crispy_field  }}
    {{ form.u_email|as_crispy_field }}
    {{ form.birth_date|as_crispy_field }}
    {{ form.gender|as_crispy_field }}
    <button type="submit" class="btn btn-success">Sign Up</button>
    <a href="{% url 'user_login' %}" type="reset" class="btn btn-primary">Login</a>
</form>
{% endblock content %}
